<div>
  <mat-toolbar color="primary">
    <span>Labforward Code Challenge</span>
  </mat-toolbar>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon aria-hidden="false" aria-label="Example home icon">notes</mat-icon>
        Lab Notes
      </ng-template>
      <app-lab-notes></app-lab-notes>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">search</mat-icon>
        Search
      </ng-template>
      <app-search></app-search>
    </mat-tab>
  </mat-tab-group>
</div>