<div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0"
    style="margin: 20px;">
    <div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0">
        <mat-form-field style="width: 50%;">
            <input matInput placeholder="Search Notes" type="text" [(ngModel)]="searchStr">
        </mat-form-field>
        <button button="submit" mat-raised-button color="primary" (click)="onSearch()">Search</button>
    </div>
    <label style="text-align: center" *ngIf="resultsPanel">Word Frequency: {{searchResult.occurrences}}</label>
    <div fxLayout="row" fxLayout.xs="row" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0"
        *ngIf="resultsPanel">
        <label>Similar words</label>
        <mat-chip-list aria-label="Similar words">
            <mat-chip *ngFor="let word of searchResult.similarWords">{{word}}</mat-chip>
        </mat-chip-list>
    </div>
</div>